<svg class="ill ill-envelope" viewBox="0 0 160 110" aria-hidden="true">
  <rect class="env-body" x="6" y="18" width="148" height="86" rx="4"/>
  <path class="env-line" d="M 6 22 L 80 70 L 154 22"/>
  <path class="env-line env-thin" d="M 6 102 L 62 58 M 154 102 L 98 58"/>
  <rect class="env-stamp" x="118" y="28" width="24" height="28" rx="1.5"/>
  <path class="env-wave" d="M 96 34 q 5 -4 10 0 t 10 0 M 96 42 q 5 -4 10 0 t 10 0"/>
  <path class="env-ink" d="M 30 84 C 40 76, 46 90, 56 82 S 70 74, 78 84"/>
</svg>
