{%- comment -%} A row of moon phases, new to waning crescent. Lit parts use the ink color. {%- endcomment -%}
<svg class="ill ill-moons" viewBox="0 0 232 24" aria-hidden="true">
  <g transform="translate(2 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/></g>
  <g transform="translate(31 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/><path class="moon-lit" d="M10 1 A9 9 0 0 1 10 19 A6.4 9 0 0 0 10 1 Z"/></g>
  <g transform="translate(60 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/><path class="moon-lit" d="M10 1 A9 9 0 0 1 10 19 Z"/></g>
  <g transform="translate(89 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/><path class="moon-lit" d="M10 1 A9 9 0 0 1 10 19 A6.4 9 0 0 1 10 1 Z"/></g>
  <g transform="translate(118 2)"><circle class="moon-edge moon-full" cx="10" cy="10" r="9"/></g>
  <g transform="translate(147 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/><path class="moon-lit" d="M10 1 A9 9 0 0 0 10 19 A6.4 9 0 0 0 10 1 Z"/></g>
  <g transform="translate(176 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/><path class="moon-lit" d="M10 1 A9 9 0 0 0 10 19 Z"/></g>
  <g transform="translate(205 2)"><circle class="moon-edge" cx="10" cy="10" r="9"/><path class="moon-lit" d="M10 1 A9 9 0 0 0 10 19 A6.4 9 0 0 1 10 1 Z"/></g>
</svg>
