<svg class="ill ill-pen" viewBox="0 0 420 250" role="img" aria-label="A fountain pen writing a looping line of ink across ruled paper">
  <g class="ill-rules">
    <line x1="0" y1="70" x2="420" y2="70"/><line x1="0" y1="110" x2="420" y2="110"/>
    <line x1="0" y1="150" x2="420" y2="150"/><line x1="0" y1="190" x2="420" y2="190"/>
    <line x1="0" y1="230" x2="420" y2="230"/>
  </g>
  <line class="ill-margin" x1="36" y1="20" x2="36" y2="250"/>
  <path class="ill-ink" d="M 52 196 C 84 160, 104 214, 136 178 S 178 118, 206 156 S 176 212, 154 182 S 196 100, 246 126 S 286 158, 300 128"/>
  <circle class="ill-drop" cx="60" cy="214" r="2.2"/><circle class="ill-drop" cx="70" cy="222" r="1.4"/>
  <g transform="translate(300 128)">
    <path class="ill-barrel" d="M 40 -44 L 104 -108"/>
    <path class="ill-band" d="M 52 -56 L 60 -64"/>
    <path class="ill-nib" d="M 0 0 L 13 -31 Q 21 -45 34 -49 L 45 -38 Q 41 -25 27 -17 Z"/>
    <path class="ill-slit" d="M 1.5 -1.5 L 22 -27"/>
    <circle class="ill-hole" cx="25" cy="-30" r="2.6"/>
  </g>
</svg>
